@import "compass/reset";
@import "compass/css3";
@import "compass/typography";
@import "susy";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,800,300);

/** Color Start 
 */

$black:#222;
$lessblack:#333;
$lesserblack:#444;
$offwhite:#fafafa;
$white: #FFFFFF;
$green: #0FEB63;
$rose: #F24153;
$purple: #9A65CD;
$blue: #5CA1E5;
$grey: #F0F0F0;

/** Color End 
 */

/** Images Start
 */

$landing-image: "../tasveer/landing.jpg";
$zoom : "../tasveer/zoom.png";
$content: "../tasveer/content.png";
$flip : "../tasveer/flip.png";
$slide-3-bg : "../tasveer/slide4.jpg";

/** Images End
 */


/** Mixins Start 
 */

@mixin breakpoint($media) {
    @if $media == alpha {
        @media only screen and (max-width: 320px) { @content; }
    } @else if $media == beta {
        @media only screen and (min-width: 321px) and (max-width: 640px) { @content; }
    } @else if $media == gamma {
        @media only screen and (min-width: 641px) and (max-width: 1024px) { @content; }
    } @else if $media == delta {
        @media only screen and (min-width: 1025px) and (max-width: 1440px) { @content; }
    } @else if $media == epsilon {
        @media only screen and (min-width: 1441px) and (max-width: 1920px) { @content; }
    }    
}

/** Mixins End 
 */

/** Decorations
 */
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  font-family:'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

body {
  font-size: 1.3em;
}

.circular-image {
    height: 175px;
    width: 175px;
    line-height: 175px;
    max-width: 100%;
    border-radius: 50%;
    display: block;
    color: #FFF;
    font-size: 55px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 0px auto 50px;
}

.hrLine {
    display: block;
    width: 35px;
    margin: 25px auto;
    border: 2px solid $rose;    
}
/** Decorations
 */


header {
	height: 100%;
  	position: relative;
  	overflow: hidden;
  	background: url($landing-image) center no-repeat;
  	@include background-size(cover);
  
  	.content {
	    background: rgb(0, 0, 0);
	    background: rgba(0, 0, 0, 0.5);  		
    	position: absolute;
    	top: 0; left: 0; right: 0; bottom: 0;
    	z-index: 1;
  	}
  
    .main-heading {
        color:$white;
        text-align:center;
        font-weight:400; 
        @include breakpoint(alpha){padding-top:8rem; font-size:1.5rem;}
        @include breakpoint(beta){padding-top:7.5rem; font-size:2.6rem;}
        @include breakpoint(gamma){padding-top:6rem; font-size:5rem;}
        @include breakpoint(delta){padding-top:6.5rem; font-size:5.8rem;}
        @include breakpoint(epsilon){padding-top:6.0rem; font-size:6.4rem;}                
    }
    .tagline {
        text-align:center; 
        .tagline1 {
            color: $white;
            font-weight:400;
            @include breakpoint(alpha){font-size:1.6rem;}
            @include breakpoint(beta){font-size:2.7rem;}
            @include breakpoint(gamma){font-size:5rem;}
            @include breakpoint(delta){font-size:5.5rem;}
            @include breakpoint(epsilon){font-size:6.2rem;}
        }
        .tagline2 {
            color: $green;
            font-weight:400;
            @include breakpoint(alpha){font-size:1.6rem;}
            @include breakpoint(beta){font-size:2.7rem;}
            @include breakpoint(gamma){font-size:5rem;}
            @include breakpoint(delta){font-size:5.5rem;}
            @include breakpoint(epsilon){font-size:6.2rem;}
        }            
    }
    .subTagline {
        color:$white;
        text-align:center;
        font-weight:400; 
        @include breakpoint(alpha){font-size:1.8rem;}
        @include breakpoint(beta){font-size:3rem;}
        @include breakpoint(gamma){font-size:5rem;}
        @include breakpoint(delta){font-size:5.4rem;}
        @include breakpoint(epsilon){font-size:6.0rem;}               
    }
    .edition {
        color: $white;
        text-align:center;
        font-size:400;
        @include breakpoint(alpha){padding-top:2.5rem; font-size:1.2rem;}
        @include breakpoint(beta){padding-top:2.4rem; font-size:1.4rem;}
        @include breakpoint(gamma){font-size:1.8rem;}
        @include breakpoint(delta){padding-top:2.4rem; font-size:2rem;}
        @include breakpoint(epsilon){padding-top:2.4rem; font-size:2.6rem;}
    }            
    .authors {
        text-align:center;
        .by {
            color: $white;
            @include breakpoint(alpha){font-size:0.9rem;}
            @include breakpoint(beta){font-size:1.2rem;}
            @include breakpoint(gamma){font-size:1.5rem;}
            @include breakpoint(delta){font-size:1.6rem;}
            @include breakpoint(epsilon){font-size:2rem;}
        }
        .authName {
            color: $green;   
            @include breakpoint(alpha){padding-top:2.2rem; font-size:0.9rem;}
            @include breakpoint(beta){font-size:1.2rem;}
            @include breakpoint(gamma){font-size:1.5rem;}
            @include breakpoint(delta){font-size:1.6rem;}
            @include breakpoint(epsilon){font-size:2rem;}                        
        }   
    }       
}


.site1 {
    // border-bottom:1px dashed $black;
    padding: 10em 0;
    text-align: center;
}

.site2 {
	// border-bottom:1px dashed $black;
    // padding: 10em 0;
    // background: url($slide-3-bg) repeat;
    .head {
        background-color: $black;
        height:7rem;
        .headHeading {
            font-size: 3rem;
            text-align: center;
            font-weight: 200;
            color: $rose;
            padding-top: 1.5rem;
        }
    }
    main {
        padding: 3.5em 0;
        @include container(90%);
        // background: url($slide-3-bg) repeat;
        .icon1 {
            @include span(4 of 12);
            text-align: center;
            .image1 {
                background: url($zoom) no-repeat center;
                background-position: center;
                @include background-size(cover);
                @extend .circular-image;
            }
            .heading1 {
                padding-bottom: 1rem;
                font-size: 1.7rem;
                font-weight: 200;
                color: $rose;
            }
            .description1 {
                padding-top: 0.7rem;
                color: $lessblack;
                @include word-break(normal);
                @include hyphens;                
            }            
        }
        .icon2 {
            @include span(4 at 5 of 12);
            text-align: center;
            .image2 {
                background: url($flip) no-repeat center;
                background-position: center;
                @include background-size(cover);
                @extend .circular-image;
            }
            .heading2 {
                padding-bottom: 1rem;                
                font-size: 1.7rem;
                font-weight: 200;
                color: $rose;
            }
            .description2 {
                padding-top: 0.7rem;
                color: $lessblack;
                @include word-break(normal);
                @include hyphens;                
            }                        
        }
        .icon3 {
            @include span(4 at 9 of 12);
            text-align: center;
            .image3 {
                background: url($content) no-repeat center;
                background-position: center;
                @include background-size(cover);
                @extend .circular-image;                
            }
            .heading3 {
                padding-bottom: 1rem;                
                font-size: 1.7rem;
                font-weight: 200;
                color: $rose;
            }
            .description3 {
                padding-top: 0.7rem;
                color: $lessblack;
                @include word-break(normal);
                @include hyphens;                
            }            
        }                 
    }
}

.site3 {
    height: 100%;
    position: relative;
    overflow: hidden;
    background: url($slide-3-bg) center no-repeat;
    @include background-size(cover);
    background-attachment:fixed;    
    .slide3layer {
        background: rgb(38, 41, 48);
        background: rgba(38, 41, 48, 0.5);         
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        z-index: 1;      
        .slide3description {
            @include container(80%);
            .thanks {
                font-weight: 200;
                color: #FAFAFA;
                text-align: center;
                text-decoration: none;
                padding: 4rem !important;
                font-size: 4rem;
            }
            .thanksdescription {
                font-weight: 200;
                color: #FAFAFA;
                text-align:center;   
                font-size: 1.4rem;             
            }
            .version {
                text-align:left;
                .edition{
                    font-weight: 200;
                    text-align: left;
                    color: $offwhite;
                    padding-top: 3rem;
                    padding-bottom: 1.5rem;
                }
                .list {
                    font-weight: 200;
                    text-align: left;                    
                    color: $offwhite;
                    line-height: 2rem;
                }
            }
            .hoverMe {
                text-align: center;
                font-size: 200;
                color: $offwhite;
                font-size: 3rem;
                padding-bottom: 2rem;
            }
            .button {
                text-align:center;
                font-size: 2.1rem;
                background: transparent;
                border: 1px solid;
                width: 275px;
                height: 63px;
                border-radius: 3px;
                color: white;
                margin : 2px auto 2px -21px;    
                curson: pointer;  
                @include transition(background 0.50s ease-in-out);
                &:hover {
                    background: $black;
                }     
            }
        }
    }
}

footer {
    background-color: $lessblack;
    padding-bottom: 2.5rem;
    .quote {
        text-align: center;
        text-decoration: none;
        font-size: 2rem;
        font-weight:100;
        color: $offwhite;
        padding-top: 2rem;
    }
}