@import "compass/reset";
@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,800,300);

/** Color Start 
 */

$black:#222;
$lessblack:#333;
$lesserblack:#444;
$offwhite:#fafafa;
$white: #FFFFFF;
$green: #0FEB63;

/** Color End 
 */

/** Images Start
 */

$landing-image: "../tasveer/landing.jpg";

/** Images End
 */


/** Mixins Start 
 */

@mixin breakpoint($media) {
    @if $media == alpha {
        @media only screen and (max-width: 320px) { @content; }
    } @else if $media == beta {
        @media only screen and (min-width: 321px) and (max-width: 640px) { @content; }
    } @else if $media == gamma {
        @media only screen and (min-width: 641px) and (max-width: 1024px) { @content; }
    } @else if $media == delta {
        @media only screen and (min-width: 1025px) and (max-width: 1440px) { @content; }
    } @else if $media == epsilon {
        @media only screen and (min-width: 1441px) and (max-width: 1920px) { @content; }
    }    
}

/** Mixins End 
 */

/** Decorations
 */
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  font-family:'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

body {
  font-size: 1.3em;
}

/** Decorations
 */


header {
	height: 100%;
  	position: relative;
  	overflow: hidden;
  	background: url($landing-image) center no-repeat;
  	@include background-size(cover);
  
  	.content {
	    background: rgb(0, 0, 0);
	    background: rgba(0, 0, 0, 0.5);  		
    	position: absolute;
    	top: 0; left: 0; right: 0; bottom: 0;
    	z-index: 1;
  	}
  
    .main-heading {
        color:$white;
        text-align:center;
        font-weight:400; 
        @include breakpoint(alpha){padding-top:8rem; font-size:1.5rem;}
        @include breakpoint(beta){padding-top:7.5rem; font-size:2.6rem;}
        @include breakpoint(gamma){padding-top:6rem; font-size:5rem;}
        @include breakpoint(delta){padding-top:6.5rem; font-size:5.8rem;}
        @include breakpoint(epsilon){padding-top:6.0rem; font-size:6.4rem;}                
    }
    .tagline {
        text-align:center; 
        .tagline1 {
            color: $white;
            font-weight:400;
            @include breakpoint(alpha){font-size:1.6rem;}
            @include breakpoint(beta){font-size:2.7rem;}
            @include breakpoint(gamma){font-size:5rem;}
            @include breakpoint(delta){font-size:5.5rem;}
            @include breakpoint(epsilon){font-size:6.2rem;}
        }
        .tagline2 {
            color: $green;
            font-weight:400;
            @include breakpoint(alpha){font-size:1.6rem;}
            @include breakpoint(beta){font-size:2.7rem;}
            @include breakpoint(gamma){font-size:5rem;}
            @include breakpoint(delta){font-size:5.5rem;}
            @include breakpoint(epsilon){font-size:6.2rem;}
        }            
    }
    .subTagline {
        color:$white;
        text-align:center;
        font-weight:400; 
        @include breakpoint(alpha){font-size:1.8rem;}
        @include breakpoint(beta){font-size:3rem;}
        @include breakpoint(gamma){font-size:5rem;}
        @include breakpoint(delta){font-size:5.4rem;}
        @include breakpoint(epsilon){font-size:6.0rem;}               
    }
    .edition {
        color: $white;
        text-align:center;
        font-size:400;
        @include breakpoint(alpha){padding-top:2.5rem; font-size:1.2rem;}
        @include breakpoint(beta){padding-top:2.4rem; font-size:1.4rem;}
        @include breakpoint(gamma){font-size:1.8rem;}
        @include breakpoint(delta){padding-top:2.4rem; font-size:2rem;}
        @include breakpoint(epsilon){padding-top:2.4rem; font-size:2.6rem;}
    }            
    .authors {
        text-align:center;
        .by {
            color: $white;
            @include breakpoint(alpha){font-size:0.9rem;}
            @include breakpoint(beta){font-size:1.2rem;}
            @include breakpoint(gamma){font-size:1.5rem;}
            @include breakpoint(delta){font-size:1.6rem;}
            @include breakpoint(epsilon){font-size:2rem;}
        }
        .authName {
            color: $green;   
            @include breakpoint(alpha){padding-top:2.2rem; font-size:0.9rem;}
            @include breakpoint(beta){font-size:1.2rem;}
            @include breakpoint(gamma){font-size:1.5rem;}
            @include breakpoint(delta){font-size:1.6rem;}
            @include breakpoint(epsilon){font-size:2rem;}                        
        }   
    }       
  

}


.site1 {
	border-bottom:1px dashed $black;
  	padding: 20em 0;
  	text-align: center;
  	background-color: #efefef;
  
  	font-size: .8em;
  	color: #444;
  
	a {
		color: #666;
	    text-decoration: none;
	    
	    &:hover {
	      color: #222;
	    }
	}
}

.site2 {
	border-bottom:1px dashed $black;
  	padding: 20em 0;
  	text-align: center;
  	background-color: #efefef;
  
  	font-size: .8em;
  	color: #444;
  
	a {
		color: #666;
	    text-decoration: none;
	    
	    &:hover {
	      color: #222;
	    }
	}
}
