@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,800,300);
/* line 5, ../../../../home/deepak/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../home/deepak/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../home/deepak/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../home/deepak/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../home/deepak/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../home/deepak/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../home/deepak/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../home/deepak/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../home/deepak/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/** Color Start 
 */
/** Color End 
 */
/** Images Start
 */
/** Images End
 */
/** Mixins Start 
 */
/** Mixins End 
 */
/** Decorations
 */
/* line 59, ../sass/screen.scss */
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

/* line 65, ../sass/screen.scss */
html {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

/* line 72, ../sass/screen.scss */
body {
  font-size: 1.3em;
}

/* line 76, ../sass/screen.scss */
.circular-image, .site2 main .icon1 .image1, .site2 main .icon2 .image2, .site2 main .icon3 .image3 {
  height: 175px;
  width: 175px;
  line-height: 175px;
  max-width: 100%;
  border-radius: 50%;
  display: block;
  color: #FFF;
  font-size: 55px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin: 0px auto 50px;
}

/** Decorations
 */
/* line 95, ../sass/screen.scss */
header {
  height: 100%;
  position: relative;
  overflow: hidden;
  background: url("../tasveer/landing.jpg") center no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 102, ../sass/screen.scss */
header .content {
  background: black;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/* line 110, ../sass/screen.scss */
header .main-heading {
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;
}
@media only screen and (max-width: 320px) {
  /* line 110, ../sass/screen.scss */
  header .main-heading {
    padding-top: 8rem;
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 321px) and (max-width: 640px) {
  /* line 110, ../sass/screen.scss */
  header .main-heading {
    padding-top: 7.5rem;
    font-size: 2.6rem;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 110, ../sass/screen.scss */
  header .main-heading {
    padding-top: 6rem;
    font-size: 5rem;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* line 110, ../sass/screen.scss */
  header .main-heading {
    padding-top: 6.5rem;
    font-size: 5.8rem;
  }
}
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  /* line 110, ../sass/screen.scss */
  header .main-heading {
    padding-top: 6.0rem;
    font-size: 6.4rem;
  }
}
/* line 120, ../sass/screen.scss */
header .tagline {
  text-align: center;
}
/* line 122, ../sass/screen.scss */
header .tagline .tagline1 {
  color: #FFFFFF;
  font-weight: 400;
}
@media only screen and (max-width: 320px) {
  /* line 122, ../sass/screen.scss */
  header .tagline .tagline1 {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 321px) and (max-width: 640px) {
  /* line 122, ../sass/screen.scss */
  header .tagline .tagline1 {
    font-size: 2.7rem;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 122, ../sass/screen.scss */
  header .tagline .tagline1 {
    font-size: 5rem;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* line 122, ../sass/screen.scss */
  header .tagline .tagline1 {
    font-size: 5.5rem;
  }
}
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  /* line 122, ../sass/screen.scss */
  header .tagline .tagline1 {
    font-size: 6.2rem;
  }
}
/* line 131, ../sass/screen.scss */
header .tagline .tagline2 {
  color: #0FEB63;
  font-weight: 400;
}
@media only screen and (max-width: 320px) {
  /* line 131, ../sass/screen.scss */
  header .tagline .tagline2 {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 321px) and (max-width: 640px) {
  /* line 131, ../sass/screen.scss */
  header .tagline .tagline2 {
    font-size: 2.7rem;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 131, ../sass/screen.scss */
  header .tagline .tagline2 {
    font-size: 5rem;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* line 131, ../sass/screen.scss */
  header .tagline .tagline2 {
    font-size: 5.5rem;
  }
}
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  /* line 131, ../sass/screen.scss */
  header .tagline .tagline2 {
    font-size: 6.2rem;
  }
}
/* line 141, ../sass/screen.scss */
header .subTagline {
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;
}
@media only screen and (max-width: 320px) {
  /* line 141, ../sass/screen.scss */
  header .subTagline {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 321px) and (max-width: 640px) {
  /* line 141, ../sass/screen.scss */
  header .subTagline {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 141, ../sass/screen.scss */
  header .subTagline {
    font-size: 5rem;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* line 141, ../sass/screen.scss */
  header .subTagline {
    font-size: 5.4rem;
  }
}
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  /* line 141, ../sass/screen.scss */
  header .subTagline {
    font-size: 6.0rem;
  }
}
/* line 151, ../sass/screen.scss */
header .edition {
  color: #FFFFFF;
  text-align: center;
  font-size: 400;
}
@media only screen and (max-width: 320px) {
  /* line 151, ../sass/screen.scss */
  header .edition {
    padding-top: 2.5rem;
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 321px) and (max-width: 640px) {
  /* line 151, ../sass/screen.scss */
  header .edition {
    padding-top: 2.4rem;
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 151, ../sass/screen.scss */
  header .edition {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* line 151, ../sass/screen.scss */
  header .edition {
    padding-top: 2.4rem;
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  /* line 151, ../sass/screen.scss */
  header .edition {
    padding-top: 2.4rem;
    font-size: 2.6rem;
  }
}
/* line 161, ../sass/screen.scss */
header .authors {
  text-align: center;
}
/* line 163, ../sass/screen.scss */
header .authors .by {
  color: #FFFFFF;
}
@media only screen and (max-width: 320px) {
  /* line 163, ../sass/screen.scss */
  header .authors .by {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 321px) and (max-width: 640px) {
  /* line 163, ../sass/screen.scss */
  header .authors .by {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 163, ../sass/screen.scss */
  header .authors .by {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* line 163, ../sass/screen.scss */
  header .authors .by {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  /* line 163, ../sass/screen.scss */
  header .authors .by {
    font-size: 2rem;
  }
}
/* line 171, ../sass/screen.scss */
header .authors .authName {
  color: #0FEB63;
}
@media only screen and (max-width: 320px) {
  /* line 171, ../sass/screen.scss */
  header .authors .authName {
    padding-top: 2.2rem;
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 321px) and (max-width: 640px) {
  /* line 171, ../sass/screen.scss */
  header .authors .authName {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 171, ../sass/screen.scss */
  header .authors .authName {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* line 171, ../sass/screen.scss */
  header .authors .authName {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  /* line 171, ../sass/screen.scss */
  header .authors .authName {
    font-size: 2rem;
  }
}

/* line 183, ../sass/screen.scss */
.site1 {
  border-bottom: 1px dashed #222;
  padding: 10em 0;
  text-align: center;
}

/* line 189, ../sass/screen.scss */
.site2 {
  border-bottom: 1px dashed #222;
  background: url("../tasveer/bg3.jpg") repeat;
}
/* line 193, ../sass/screen.scss */
.site2 .head {
  background-color: #222;
  height: 7rem;
}
/* line 196, ../sass/screen.scss */
.site2 .head .headHeading {
  font-size: 3rem;
  text-align: center;
  font-weight: 400;
  color: #0FEB63;
  padding-top: 1.5rem;
}
/* line 204, ../sass/screen.scss */
.site2 main {
  padding: 3.5em 0;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  background: url("../tasveer/bg3.jpg") repeat;
}
/* line 12, ../../../../home/deepak/.rvm/gems/ruby-2.1.5/gems/susy-2.2.0.beta.3/sass/susy/output/support/_clearfix.scss */
.site2 main:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 208, ../sass/screen.scss */
.site2 main .icon1 {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  text-align: center;
}
/* line 211, ../sass/screen.scss */
.site2 main .icon1 .image1 {
  background: url("../tasveer/zoom.jpg") no-repeat center;
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 217, ../sass/screen.scss */
.site2 main .icon1 .heading1 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #0FEB63;
}
/* line 222, ../sass/screen.scss */
.site2 main .icon1 .description1 {
  padding-top: 2rem;
  color: #fafafa;
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
/* line 229, ../sass/screen.scss */
.site2 main .icon2 {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  text-align: center;
}
/* line 232, ../sass/screen.scss */
.site2 main .icon2 .image2 {
  background: url("../tasveer/keys.jpg") no-repeat center;
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 238, ../sass/screen.scss */
.site2 main .icon2 .heading2 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #0FEB63;
}
/* line 243, ../sass/screen.scss */
.site2 main .icon2 .description2 {
  padding-top: 2rem;
  color: #fafafa;
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
/* line 250, ../sass/screen.scss */
.site2 main .icon3 {
  width: 32.20339%;
  float: right;
  margin-right: 0;
  text-align: center;
}
/* line 253, ../sass/screen.scss */
.site2 main .icon3 .image3 {
  background: url("../tasveer/flip.jpg") no-repeat center;
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 259, ../sass/screen.scss */
.site2 main .icon3 .heading3 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #0FEB63;
}
/* line 264, ../sass/screen.scss */
.site2 main .icon3 .description3 {
  padding-top: 2rem;
  color: #fafafa;
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* line 274, ../sass/screen.scss */
.site3 {
  border-bottom: 1px dashed #222;
  background-color: #F0F0F0;
}
/* line 278, ../sass/screen.scss */
.site3 .thanksgiving {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #F0F0F0;
}
/* line 12, ../../../../home/deepak/.rvm/gems/ruby-2.1.5/gems/susy-2.2.0.beta.3/sass/susy/output/support/_clearfix.scss */
.site3 .thanksgiving:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 281, ../sass/screen.scss */
.site3 .thanksgiving .credit {
  text-align: center;
  font-size: 5rem;
  font-weight: 200;
  color: #0FEB63;
  padding: 2rem;
}
/* line 288, ../sass/screen.scss */
.site3 .thanksgiving .creditQuote {
  font-size: 1.6rem;
  font-weight: 200;
  text-align: center;
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
/* line 295, ../sass/screen.scss */
.site3 .thanksgiving .exploreBook {
  padding-top: 2rem;
  text-align: center;
  font-size: 5rem;
  font-weight: 200;
  color: #0FEB63;
  padding: 2rem;
}

/* line 306, ../sass/screen.scss */
footer {
  background-color: #333;
  padding-bottom: 2.5rem;
}
/* line 309, ../sass/screen.scss */
footer .quote {
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 100;
  color: #fafafa;
  padding-top: 2rem;
}
