@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,800,300);
/* line 5, ../../../../home/deepak/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../home/deepak/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../home/deepak/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../home/deepak/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../home/deepak/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../home/deepak/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../home/deepak/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../home/deepak/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../home/deepak/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/** Color Start 
 */
/** Color End 
 */
/** Images Start
 */
/** Images End
 */
/** Mixins Start 
 */
/** Mixins End 
 */
/* line 47, ../sass/screen.scss */
.head {
  background: #222;
  width: 100%;
  min-height: 50px;
  top: 0;
  z-index: 1100;
  position: absolute;
  box-shadow: 0px 2px 3px #333;
}
@media only screen and (max-width: 320px) {
  /* line 47, ../sass/screen.scss */
  .head {
    position: absolute;
  }
}

/**** Header End *****/
/* line 61, ../sass/screen.scss */
.navbar {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}
/* line 66, ../sass/screen.scss */
.navbar .unlist li {
  float: left;
  width: 18.5%;
  text-align: center;
  line-height: 50px;
  font-size: 1.6rem;
  border-bottom: 2px solid #222;
}
/* line 73, ../sass/screen.scss */
.navbar .unlist li:hover {
  border-bottom: 2px solid #0FEB63;
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 66, ../sass/screen.scss */
  .navbar .unlist li {
    font-size: 1.4rem;
    float: right;
    width: 136px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 640px) {
  /* line 66, ../sass/screen.scss */
  .navbar .unlist li {
    font-size: 1.3rem;
    width: 33%;
  }
}
@media only screen and (max-width: 320px) {
  /* line 66, ../sass/screen.scss */
  .navbar .unlist li {
    display: none;
  }
}

/* line 81, ../sass/screen.scss */
.bt-menu {
  font-size: 1.6rem;
  line-height: 50px;
  display: none;
  border: none;
}
@media only screen and (max-width: 320px) {
  /* line 81, ../sass/screen.scss */
  .bt-menu {
    display: block;
  }
}

/* line 89, ../sass/screen.scss */
.icons {
  width: 16px;
}

/** End
 */
/** Decorations Start
 */
/* line 99, ../sass/screen.scss */
a {
  text-decoration: none;
  color: white;
}
/* line 102, ../sass/screen.scss */
a:hover {
  text-shadow: 1px 1px 1px #aaa;
}

/* line 105, ../sass/screen.scss */
html {
  font-size: 62.5%;
  height: 100%;
}

/* line 110, ../sass/screen.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
}
@media only screen and (max-width: 320px) {
  /* line 110, ../sass/screen.scss */
  body {
    overflow-x: hidden;
  }
}

/* line 116, ../sass/screen.scss */
*:focus {
  outline: 0;
}

/* line 120, ../sass/screen.scss */
::selection {
  background-color: #222;
  color: #FFFFFF;
}

/* line 125, ../sass/screen.scss */
::-moz-selection {
  background-color: #222;
  color: #FFFFFF;
}

/* line 130, ../sass/screen.scss */
.quote {
  font-size: 1.6rem;
  color: #FFFFFF;
}

/** Decoration End
 */
/** slide1 
 */
/* line 141, ../sass/screen.scss */
.landing-image {
  color: #FFFFFF;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 145, ../sass/screen.scss */
.landing-image .wrapped {
  margin: auto;
}
/* line 148, ../sass/screen.scss */
.landing-image .bigpicture {
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
  background-image: url("../tasveer/landing.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 157, ../sass/screen.scss */
.landing-image .bigpicture .layer {
  background: black;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 165, ../sass/screen.scss */
.landing-image .bigpicture .layer .main-heading {
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;
}
@media only screen and (max-width: 320px) {
  /* line 165, ../sass/screen.scss */
  .landing-image .bigpicture .layer .main-heading {
    padding-top: 19rem;
    font-size: 3.3rem;
  }
}
@media only screen and (min-width: 321px) and (max-width: 640px) {
  /* line 165, ../sass/screen.scss */
  .landing-image .bigpicture .layer .main-heading {
    padding-top: 22rem;
    font-size: 4.5rem;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 165, ../sass/screen.scss */
  .landing-image .bigpicture .layer .main-heading {
    padding-top: 18.5rem;
    font-size: 6.7rem;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* line 165, ../sass/screen.scss */
  .landing-image .bigpicture .layer .main-heading {
    padding-top: 11.5rem;
    font-size: 10rem;
  }
}
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  /* line 165, ../sass/screen.scss */
  .landing-image .bigpicture .layer .main-heading {
    padding-top: 20rem;
    font-size: 11.5rem;
  }
}
/* line 175, ../sass/screen.scss */
.landing-image .bigpicture .layer .tagline {
  text-align: center;
}
/* line 177, ../sass/screen.scss */
.landing-image .bigpicture .layer .tagline .tagline1 {
  color: #FFFFFF;
  font-weight: 400;
}
@media only screen and (max-width: 320px) {
  /* line 177, ../sass/screen.scss */
  .landing-image .bigpicture .layer .tagline .tagline1 {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 321px) and (max-width: 640px) {
  /* line 177, ../sass/screen.scss */
  .landing-image .bigpicture .layer .tagline .tagline1 {
    font-size: 4.5rem;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 177, ../sass/screen.scss */
  .landing-image .bigpicture .layer .tagline .tagline1 {
    font-size: 6.4rem;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* line 177, ../sass/screen.scss */
  .landing-image .bigpicture .layer .tagline .tagline1 {
    font-size: 10rem;
  }
}
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  /* line 177, ../sass/screen.scss */
  .landing-image .bigpicture .layer .tagline .tagline1 {
    font-size: 11.5rem;
  }
}
/* line 186, ../sass/screen.scss */
.landing-image .bigpicture .layer .tagline .tagline2 {
  color: #0FEB63;
  font-weight: 400;
}
@media only screen and (max-width: 320px) {
  /* line 186, ../sass/screen.scss */
  .landing-image .bigpicture .layer .tagline .tagline2 {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 321px) and (max-width: 640px) {
  /* line 186, ../sass/screen.scss */
  .landing-image .bigpicture .layer .tagline .tagline2 {
    font-size: 4.5rem;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 186, ../sass/screen.scss */
  .landing-image .bigpicture .layer .tagline .tagline2 {
    font-size: 6.4rem;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* line 186, ../sass/screen.scss */
  .landing-image .bigpicture .layer .tagline .tagline2 {
    font-size: 10rem;
  }
}
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  /* line 186, ../sass/screen.scss */
  .landing-image .bigpicture .layer .tagline .tagline2 {
    font-size: 11.5rem;
  }
}
/* line 196, ../sass/screen.scss */
.landing-image .bigpicture .layer .subTagline {
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;
}
@media only screen and (max-width: 320px) {
  /* line 196, ../sass/screen.scss */
  .landing-image .bigpicture .layer .subTagline {
    padding-top: 2.2rem;
    font-size: 3.9rem;
  }
}
@media only screen and (min-width: 321px) and (max-width: 640px) {
  /* line 196, ../sass/screen.scss */
  .landing-image .bigpicture .layer .subTagline {
    padding-top: 1rem;
    font-size: 5rem;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 196, ../sass/screen.scss */
  .landing-image .bigpicture .layer .subTagline {
    padding-top: 1.2rem;
    font-size: 7rem;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* line 196, ../sass/screen.scss */
  .landing-image .bigpicture .layer .subTagline {
    padding-top: 1.7remrem;
    font-size: 9.5rem;
  }
}
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  /* line 196, ../sass/screen.scss */
  .landing-image .bigpicture .layer .subTagline {
    padding-top: 2rem;
    font-size: 10.5rem;
  }
}
/* line 206, ../sass/screen.scss */
.landing-image .bigpicture .layer .authors {
  text-align: center;
}
/* line 208, ../sass/screen.scss */
.landing-image .bigpicture .layer .authors .by {
  color: #FFFFFF;
}
@media only screen and (max-width: 320px) {
  /* line 208, ../sass/screen.scss */
  .landing-image .bigpicture .layer .authors .by {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 321px) and (max-width: 640px) {
  /* line 208, ../sass/screen.scss */
  .landing-image .bigpicture .layer .authors .by {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 208, ../sass/screen.scss */
  .landing-image .bigpicture .layer .authors .by {
    font-size: 2.1rem;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* line 208, ../sass/screen.scss */
  .landing-image .bigpicture .layer .authors .by {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  /* line 208, ../sass/screen.scss */
  .landing-image .bigpicture .layer .authors .by {
    font-size: 2.7rem;
  }
}
/* line 216, ../sass/screen.scss */
.landing-image .bigpicture .layer .authors .authName {
  color: #0FEB63;
}
@media only screen and (max-width: 320px) {
  /* line 216, ../sass/screen.scss */
  .landing-image .bigpicture .layer .authors .authName {
    padding-top: 2.2rem;
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 321px) and (max-width: 640px) {
  /* line 216, ../sass/screen.scss */
  .landing-image .bigpicture .layer .authors .authName {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 216, ../sass/screen.scss */
  .landing-image .bigpicture .layer .authors .authName {
    font-size: 2.1rem;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* line 216, ../sass/screen.scss */
  .landing-image .bigpicture .layer .authors .authName {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  /* line 216, ../sass/screen.scss */
  .landing-image .bigpicture .layer .authors .authName {
    font-size: 2.7rem;
  }
}

/** slide1 
 */
